<div class="card">
    <div class="card-header btg-blue darken-1 white-text">Your Upcoming Events</div>
    <div class="card-body">
        <p class="card-text">Click an event below to view details.</p>

        {% if participations %}
            <table class="table table-sm table-borderless">
                <tbody>
                {% for participation in participations %}
                    <tr>
                        <th>{{ participation.event.date }}</th>
                        <td><a href="#">{{ participation.event.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No events planned.</p>
        {% endif %}

    </div>
</div>