{% extends "mdb-base.html" %}

{% load staticfiles %}

{% block main_header %}{# empty header for login page #}{% endblock %}


{% block main_content %}
<div class="row justify-content-center mt-5">
    <div class="col-12">
        <!-- Card -->
        <div class="card">
            <div class="card-header deep-purple accent-4 white-text">
                Your draw for Secret Santa 2018
            </div>

            <!-- Card body -->
            <div class="card-body text-center">

                <img src="{% static 'img/christmas-175.png' %}" class="mx-auto d-block mb-5"/>


                <p>Hi {{ participant }},</p>

                <p>Your draw for secret santa 2018 is...</p>

                <h3>{{ participant.buys_present_for }}</h3>

            </div>
            <!-- Card body -->

        </div>
        <!-- Card -->
    </div>

</div>
{% endblock %}